[user]
	email = ervinsonong@gmail.com
	name = Sean Ervinson
[core]
	autocrlf = input
	whitespace = -trailing-space
	editor = code --wait
[alias]
	ll = log --oneline
	st = status -sb
	del = branch -D
	br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
	last = log -1 HEAD --stat
	co = checkout
	undo = reset HEAD~1 --mixed
	done = push origin HEAD
	cm = commit -m
[includeIf "gitdir:~/Work/"]
    path = ~/git/.gitconfig-work
[credential]
	helper = store
[init]
	defaultBranch = main